<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643859813630-0eb7k48nbrcasrnhg0t71majo8hl31d0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643859813630-0eb7k48nbrcasrnhg0t71majo8hl31d0</string>
	<key>API_KEY</key>
	<string>AIzaSyAn_Zjx9xBRYdbCuH5eJ6n5Vr1RaHHsn-E</string>
	<key>GCM_SENDER_ID</key>
	<string>643859813630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gunzalez.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-2-89b73</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-2-89b73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643859813630:ios:225769ec728074af9241af</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-2-89b73.firebaseio.com</string>
</dict>
</plist>